<div class="container-fluid mt-4 ">
  <div class="row">
    <div class="col-10">


      <label class="form-check-label" for="ipp">Items per page</label>
      <input class="form-control" type="text" id="ipp" name="ipp" #ipp="ngModel" [(ngModel)]="itemsPerPage" min="1"><br>


      Find product by name: <input class="form-control" type="text" id="inputFilter" name="inputFilter"
        [(ngModel)]="inputFilter" min="1" (ngModelChange)="filter()">
    <!--     {{inputFilter}} -->
      <p></p>

      Find product by category:
      <select name="select" [(ngModel)]="selectFilter" (ngModelChange)="filter()">
        <option value="" selected> </option>
        <option value="Furniture" selected>Furniture</option>
        <option value="Home Decor">Home Decor</option>
        <option value="Kitchen Appliances">Kitchen Appliances</option>
      </select>
<!--       {{selectFilter}} -->
      <p></p>

      Find product by price (from 0 to 100):
<!--       <input type="range" id="rangeInput" name="rangeInputs" min="{{minPrice}}" max="{{maxPrice}}" -->
      <input type="range" id="rangeInput" name="rangeInputs" min="0" max="100"
        [(ngModel)]="rangeFilter" (ngModelChange)="filter()">
        {{rangeFilter}}
      <p></p>
      <table class="table table-bordered table-primary" *ngIf="products.length > 1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
            <th>Category</th>
            <th>Favourite</th>
            <th>Add to favorites</th>
            <th>Quantity</th>
            <th>Buy</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProducts | paginate: {itemsPerPage: itemsPerPage, currentPage: cp}">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td> <img src="{{ product.image }}" alt="Si" style="width: 40px; height: 40px;"></td>
            <td>{{ product.price | currency:'EUR' | offer }}</td>
            <td>{{ product.category.name }}</td>
            <td>
              <img *ngIf="product.favorite" src="assets\estrellaSI.png" alt="Si" style="width: 20px; height: 20px;">
              <img *ngIf="!product.favorite" src="assets\estrellaNO.png" alt="No" style="width: 20px; height: 20px;">
            </td>
            <!--   <td><input class="form-check-input" type="checkbox" id="favorite" name="favorite" #favourite="ngModel" [(ngModel)]="product.favorite" [checked] = "product.favorite"> </td> -->
            <td><button type="submit" id="addToFavoriteButton" class="btn btn-light" name="addToFavoriteButton"
                (click)="askAddToFavorite(product)">Add </button></td>
            <!--            <td><input class="form-control" type="text" id="quantity" name="quantity" #inputquantity="ngModel"
                [(ngModel)]="quantity" required appQuantityToBuy> -->

            <td><input class="form-control" type="text" id="quantity" name="quantity" #quantity required
                appQuantityToBuy>
          
       <!--          <div *ngIf="cantidadInvalida" class="error-message">La cantidad no es válida</div> -->
              <!--   <div *ngIf="quantity.value.invalid && (quantity.value.dirty || quantity.value.touched)">
                <div *ngIf="quantity.value.errors?.['required']">Required</div>
                <div *ngIf="quantity.value.errors?.['notValid']">The quantity should be a positive number.</div>
              </div> -->

            </td>
            <td><button type="submit" id="buyButton" class="btn btn-light"  
                (click)="addToCart(product,quantity.value)">Buy</button></td>

          </tr>
        </tbody>
      </table>
      <br>


    </div>
    <div class="col-2 ">
      <p></p>
      <p></p>
      <p></p>
      <app-favorites *ngIf="showFavouriteForm" [favoriteProduct]="favoriteProduct"
        (messageToProduct)="receiveMessage($event)"></app-favorites>


      <!--     <app-minicart [miniProducts]="products"></app-minicart> -->

    </div>
  </div>
</div>
<pagination-controls (pageChange)="cp = $event"></pagination-controls>