<div class="mb-3 row ">

  <div class="col-8">

    <table class="table table-bordered table-primary" *ngIf="products.length >= 1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Image</th>
          <th>Price</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Delete</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.product.id }}</td>
          <td>{{ product.product.name }}</td>
          <td>{{ product.product.description }}</td>
          <td> <img src="{{ product.product.image }}" alt="Si" style="width: 40px; height: 40px;"></td>
          <td>{{ product.product.price | currency:'EUR'}}</td>
          <td>{{ product.product.category.name }}</td>
          <!--   <td>{{ product.quantity }}</td>  -->
          <td><input  type="number" id="quantity" name="quantity" [(ngModel)]="product.quantity"
            (ngModelChange)="updateQuantity(product)"></td>
          <td>{{ (product.quantity * product.product.price) | currency:'EUR' }}</td>
          <td><button type="submit" id="deleteProductButton" class="btn btn-light" name="deleteProductButton"
              (click)="deleteProduct(product)">Delete</button></td>



        </tr>
      </tbody>
    </table>
    <br>
    <div [appHighlight]="totalSum">
    Total sum:<p >{{calculateTotalSum() | currency:'EUR'}}</p>
  </div>
    <button type="submit" id="payButton" class="btn btn-light">Pay</button>

  <p *ngIf ="totalSum>=200" style="color: red;" >For orders totaling more than 200 euros, you will receive a promo code for your next order with a 5% discount.</p>

  </div>

  <div class="col-2">
  


  </div>