<div class="container-fluid mt-4 ms-4">
  <div class="row">
    <!-- Columna Izquierda -->
    <div class="col-8 m-0">
      <img src="assets/salon.jpg" alt="Ikea salon" class="img-fluid w-100 mb-2">
    </div>
  
    <!-- Columna Derecha -->
    <div class="col-4 m-0">
      <p *ngIf="greeting === 1">Hello new visitor</p>
      <p class="text-justify" style="text-align: justify">
        🌟 Discover Endless Possibilities at IKEA! 🌟</p>
        <p>

        </p>
<p></p>
        <p class="text-justify" style="text-align: justify">Revamp your living space with style and affordability at IKEA! From sleek furniture designs to innovative storage solutions, we have everything you need to create your dream home. Elevate your kitchen with our trendy appliances, add a touch of coziness with our soft furnishings, and transform any room with our versatile décor options.
        
        Why wait? Visit IKEA today and unlock a world of inspiration! With our unbeatable prices and quality craftsmanship, you'll find endless ways to express your unique style. Shop now and make your home a reflection of you!
        
        Don't miss out on the IKEA experience – where comfort, functionality, and design meet. Hurry in-store or shop online for exclusive deals and exciting offers. Your dream home awaits at IKEA!
        
        🛒 Shop now and bring your vision to life with IKEA! 🏡</p>
    </div>
  </div>
</div>
