
<p *ngIf="message !== ''" class="alert alert-danger">{{ message }}</p>


<div class="container-fluid mt-4 ms-4">
  
  <form id="registerForm" #registerForm="ngForm" novalidate>
    <div class="mb-3 row">
        <label class="form-label col-2" for="username">Username:</label>
        <div class="col-5">
          <input class="form-control" type="text" id="username" [(ngModel)]="user.username" #username="ngModel"
            name="username" pattern="[a-zA-Z]+" required minlength="6">
          <div *ngIf="username.invalid && (username.dirty || username.touched)">
            <div *ngIf="username.errors?.['required']">Username is required.</div>
            <div *ngIf="username.errors?.['minlength']">Username must be at least 6 characters.</div>
            <div *ngIf="username.errors?.['pattern']">For username only letters accepted.</div>
          </div>
        </div>
      </div>
      
      <div class="mb-3 row">
        <label class="form-label col-2" for="password">Password:</label>
        <div class="col-5">
          <input class="form-control" type="password" id="password" name="password"
            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" [(ngModel)]="user.password" #password="ngModel" required
            minlength="8">
          <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors?.['required']">Password is required.</div>
            <div *ngIf="password.errors?.['minlength']">Password must be at least 8 characters.</div>
            <div *ngIf="password.errors?.['pattern']">Password should contain minimum one letter, minimum one number.</div>
          </div>
        </div>
      </div>
      

<!-- Confirm Password -->
<div class="mb-3 row">
    <label class="form-label col-2" for="confirmPassword">Confirm Password:</label>
    <div class="col-5">
      <input class="form-control" type="password" name="confirmPassword" required minlength="8" #confirmPassword="ngModel"
        appConfirmUsername [password]="user.password" [(ngModel)]="confirmPasswordVariable">
      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        <div *ngIf="confirmPassword.errors?.['required']">Repite password is required.</div>
        <div *ngIf="confirmPassword.errors?.['minlength']">Password must be at least 8 characters.</div>
        <div *ngIf="confirmPassword.errors?.['notEqualToPassword']">Not equal to password.</div>
      </div>
    </div>
  </div>
  
  <!-- Email -->
  <div class="mb-3 row">
    <label class="form-label col-2" for="email">Email:</label>
    <div class="col-5">
      <input class="form-control" type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" required email="true">
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors?.['required']">Email is required.</div>
      </div>
    </div>
  </div>
  
  <!-- Phone -->
  <div class="mb-3 row">
    <label class="form-label col-2" for="phone">Phone:</label>
    <div class="col-5">
      <input class="form-control" type="tel" id="phone" name="phone" pattern="(6\d{8}|93\d{7})" #phone="ngModel"
        [(ngModel)]="user.telefono" appValidatePhone required>
      <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
        <div *ngIf="phone.errors?.['required']">Telefono is required.</div>
        <div *ngIf="phone.errors?.['notValid']">Phone should contain 9 numbers and start from 6 or 93.</div>
      </div>
    </div>
  </div>
  

<!-- Gender -->
<div class="mb-3 row">
    <label class="form-label col-2" for="gender">Gender:</label>
    <div class="col-5">
      <div *ngFor="let i of genders" class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="{{i}}" name="gender" value="{{i}}" #gender="ngModel" [(ngModel)]="user.gender" required>
        <label class="form-check-label" for="{{i}}">{{i}}</label>
      </div>
    </div>
  </div>
  

<!-- Country -->
<div class="mb-3 row">
    <label class="form-label col-2" for="country">Country:</label>
    <div class="col-5">
      <select class="form-select" id="country" name="country" #country="ngModel" [(ngModel)]="user.country" required>
        <option *ngFor="let country of countries" value="{{country}}"> {{country}}</option>
      </select>
      <div *ngIf="country.invalid && (country.dirty || country.touched)">
        <div *ngIf="country.errors?.['required']">Country is required.</div>
      </div>
    </div>
  </div>
  
<!-- Interests -->
<div class="mb-3">
    <label class="form-label">Interests:</label>
    <div class="form-check">
      <div *ngFor="let interest of interests, let i=index" class="form-check">
        <input class="form-check-input" type="checkbox" value="interest" id="{{interest}}" name="interest" (change)="addInterest(interest)">
        <label class="form-check-label" for="{{interest}}">{{interest}}</label>
      </div>
    </div>
  </div>
  
  <!-- Accept Policy -->
  <div class="mb-3 form-check">
    <input class="form-check-input" type="checkbox" id="acceptPolicy" name="acceptPolicy" #accept="ngModel" [(ngModel)]="user.accept" required>
    <label class="form-check-label" for="acceptPolicy">Accept data management policy</label>
    <div *ngIf="accept.invalid && (accept.dirty || accept.touched)">
      <div *ngIf="accept.errors?.['required']">It is obligatory to accept the policy.</div>
    </div>
  </div>
  

    
   <button type="submit" id="registerButton" [disabled]="registerForm.invalid" class="btn btn-dark" (click)="addNewUser()">Register</button> 
  
 <!--   <button type="submit" id="registerButton"  class="btn btn-dark" (click)="addNewUser()">Register</button> -->

</form>
</div>

