<h2>Contact Form</h2>

<form action="" method="post" [formGroup]="contactForm" (ngSubmit)="saveContactData()">
  <div>

    Name: <input class="form-control" formControlName="name" type="text" id="name" name="name" required
      minlength="6"><br>

    <div *ngIf="contactForm.controls['name'].touched && contactForm.controls['name'].invalid">
      <div *ngIf="!contactForm.controls['name'].errors?.['required']"> Required</div>
      <div *ngIf="!contactForm.controls['name'].errors?.['minLength']"> Minimum 6 letters</div>
      <div *ngIf="!contactForm.controls['name'].errors?.['pattern']"> Only letters are accepted</div>
    </div>

    <!--     <div [hidden]="!contactForm.get('name')?.errors?.['required']"> Required</div> -->

    <!--     <p>{{contactForm.value.name}}</p> -->


  </div>


  <div>
    Query Type:
    <select class="form-control" formControlName="queryType" id="queryType" name="queryType" required>
      <option *ngFor="let consulta of  consultas" value="{{consulta}}">{{consulta}}</option>
    </select><br>

    <div *ngIf="contactForm.controls['queryType'].touched && contactForm.controls['queryType'].invalid">
      <div [hidden]="!contactForm.get('queryType')?.errors?.['required']"> Requiered</div>


    </div>
    <!--    <p>{{contactForm.value.queryType}}</p> -->
  </div>


  <div>
    Province:
    <input class="form-control" formControlName="province" type="text" id="province" name="province" required><br>

    <div *ngIf="contactForm.controls['province'].touched && contactForm.controls['province'].invalid">

      <div [hidden]="!contactForm.get('province')?.errors?.['required']"> Requiered</div>
      <div [hidden]="!contactForm.get('province')?.errors?.['provinciaInvalida']"> Choose Barcelona, Girona o Tarragona
      </div>

    </div>


    <!--  <p>{{contactForm.value.province}}</p> -->
  </div>


  <div>
    <input formControlName="policy" type="checkbox" id="acceptPolicy" name="acceptPolicy" required>
    Accept Policies
    <div *ngIf="contactForm.controls['province'].touched && contactForm.controls['province'].invalid">
      <div *ngIf="contactForm.controls['policy'].errors?.['required']" class="invalid-feedback">
        Accept policy is required
      </div>
    </div>
    <p>{{contactForm.value.policy}}</p>
  </div>


  <div>
    <input type="submit" value="Submit" [disabled]="contactForm.invalid">
  </div>
</form>