

<div class="mb-3 row " *ngIf="miniProductsList.length >= 1 && show" >
<p>Your mini cart</p>
    <div class="col-1">

        <table class="table table-bordered table-primary" >
            <thead>
              <tr>

                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                
        
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of miniProductsList">
                <td>{{ product.product.name }}</td>
                <td>{{ product.product.price | currency:'EUR'}}</td>
               <td>{{ product.quantity }}</td>
                <td>{{product.quantity * product.product.price | currency:'EUR'}}</td>

               
        
              </tr>
            </tbody>
          </table>
          <br>