<!-- Navbar con Bootstrap 5 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/ikealogo.png" alt="Tu Logo" width="80" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div id="menu" class="navbar-nav ms-auto">
        <a class="nav-link me-4" routerLink="/empresa">About us</a>
        <a class="nav-link me-4" routerLink="/register" *ngIf="showRegisterForm">Register</a>
        <a class="nav-link me-4" routerLink="/login" *ngIf="showLoginForm">Login</a>
        <a class="nav-link me-4" routerLink="/products" *ngIf="showProducts">Products list</a>
        <a class="nav-link me-4" routerLink="/cart" *ngIf="showShoppingCart">Shopping cart</a>
        <a class="nav-link me-4" routerLink="/contactform" *ngIf="showContactForm">Contact form</a>
        <a class="nav-link me-4" routerLink="/logout" *ngIf="showLogOut">Logout</a>

      </div>
    </div>

  </div>
</nav>

<!-- <div class="mb-3 row ">

  <div class="col-10 mt-5">
    <div class="container ">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="col-2">
    <div class="container mt-4">
      <app-minicart></app-minicart>
    </div>
  </div>

</div> -->

<div class="container-fluid">

  <div class="row">
<!--     <div class="col-8" style="background-color: #f0f0f0;"> <router-outlet></router-outlet></div>

    <div class="col-3" style="background-color: #ccc;"><app-minicart></app-minicart></div> -->
    <div class="col-8"  > <router-outlet></router-outlet></div>

    <div class="col-4"  ><app-minicart></app-minicart></div>
  </div>
</div>


<!-- <div class="container mb-3">
  <div class="row">

    <div class="col-10">
      <div class="container mt-4">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="col-2">
      <div class="container mt-4">
      <app-minicart></app-minicart></div>
    </div>
  </div>
</div> -->