#menu {
    display: flex;
    justify-content: space-around;
    background-color: #3e5292;
    padding: 10px;
  }
  
  a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #526dc3;
  }