<p>Do you want to log out?</p>

<button type="submit" id="logoutNoButton" class="btn btn-light me-3" (click)="doNotLogout()">No</button>
<button type="submit" id="logoutButton" class="btn btn-light" (click)="doLogout()">Logout</button>
