
<p *ngIf="message !== ''" class="alert alert-danger">{{ message }}</p>


<div class="container-fluid mt-4 ms-4">
<form id="loginForm" #loginForm="ngForm" novalidate>
  <div class="mb-3 row">
    <label class="form-label col-2" for="username">Username:</label>
    <div class="col-5">
      <input class="form-control" type="text" id="username" name="username" [(ngModel)]="user.username" #username="ngModel">
      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username.errors?.['required']">Username is required.</div>
        <div *ngIf="username.errors?.['minlength']">Username must be at least 6 characters.</div>
        <div *ngIf="username.errors?.['pattern']">For username only letters accepted.</div>
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="form-label col-2" for="password">Password:</label>
    <div class="col-5">
      <input class="form-control" type="password" id="password" name="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
        [(ngModel)]="user.password" #password="ngModel">
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors?.['required']">Password is required.</div>
        <div *ngIf="password.errors?.['minlength']">Password must be at least 8 characters.</div>
        <div *ngIf="password.errors?.['pattern']">Password should contain minimum one letter, minimum one number.</div>
      </div>
    </div>
  </div>

  <button type="submit" id="loginButton" [disabled]="loginForm.invalid" class="btn btn-dark" (click)="doLogin()">Login</button>
</form>
</div>