


<div >

<p > Add/remove product {{favoriteProduct.name}} with id {{favoriteProduct.id}} to/from favourites?</p>

<button  type="submit" id="addToFavouritesButton"  class="btn btn-dark" (click)="sendMessage()">Add</button>
<button  type="submit" id="notAddToFavouritesButton"  class="btn btn-dark" (click)="notAddToFavourites()">No</button>

</div>